* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .header {
    background-color: #FEEEEA;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    
      &__logo{
        background-image: url('../../images/olaa.svg');
        
        width: 18rem;
        height: 6rem;
        display: flex;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
      }
      
   
     &__navegator {
      
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      flex-flow: row wrap;
    }
    .header__nav-link{
      color: black;
      display: flex;
      align-items: center;
    }

  }
 