* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  }
  .footer{
    padding:1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 19, 19);
    color: white;
    text-align: center;
    &__topfooter{
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      align-content: center;
      justify-content: center;

      &__policy{

      }
      &__social-media{
        
      }

       .social-icon {
          width: 35px;
          height:  35px;
        }
    }
    

  }
  